# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


dist/
build/
.out/


.vite/


.env
.env.local
.env.development
.env.test
.env.production


.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


*.tsbuildinfo

logs/
*.log


coverage/


mock/db.json
mock/*.log


.cache/
.eslintcache


*.swp
*.swo
package-lock.json
package-lock.json
package.json
